<div ng-controller="GuitarFunction">
	<ul> 
	<li class="itemHolder" ng-repeat="item in guitarVariable">
	<img ng-src="img/{{item.image}}.jpg">
		<div>
			<h3>{{item.name }}</h3>
			<p> {{item.description}}</p>
		</div>
	</li>
</div>


<div class="container-lg">
	<div class="row">
	  <h4 class="header bluebg">&nbsp;Sandstone at the Retreat</h4>
	</div>
	<div class="row">
	  <div class="col-lg-4"><img src="images/house.jpg"><br><small>18 Community photos</small></div>
	 <div class="col-lg-8 text-left">
	  	<ul class="list-unstyled list-inline">
	  		<li>Beds: 2 - 3</li>
	  		<li> | </li>
	  		<li>Baths: 2-3 </li>
	  		<li> | </li>
	  		<li>Sq. Ft: 1,702 - 1,910</li>
	  	</ul>
			<hr>
	  	<div class="col-lg-4">From $225,790 <br>or $1,249/mo payment</div>
	  	<div class="col-lg-4"> 
	  		<address>
			  <strong>Sales Office</strong><br>
			  23083 Lorenbrook Blvd<br>
			  Macomb, MI 48042<br>
			</address> 
		</div>
	  	<div class="col-lg-4">
	  		Community Highlights
	  		<ul class="text-left">
	  			<li>5,000 Sq. Ft. Clubhouse with Community Planned Activities</li>
	  			<li>Large Outdoor Community Pool</li>
	  			<li>Community Fitness Center</li>
	  		</ul>
	  	</div>
	</div>
	  	<hr>
</div>